.Footer {
    background-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: white;
    text-align: right; /* Maintain right alignment for copyright */
    display: flex; /* Enable flexbox for alignment */
    align-items: center; /* Vertically center content */
  }
  
  .Footer__copyright {
    font-size: 0.8rem;
    margin: 0;
    /* Adjust margin or padding if needed for spacing */
  }
  
  .Footer__github-link {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: #66b3ff;
    }
  }
  