.FormTodo {
    margin: 10px;
}

.FormTodo__row--text {
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid transparent; /* Underline appears on focus */
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  border-color: #333; 
  width: 30%;
  &:focus {
    border-color: #2ecc71;
  }
}

.FormTodo__row--button {
    font-size: 20px;
  }